params{
  // Mapping reference and reference indexes
  fasta = '/mnt/archgen/Reference_Genomes/Human/hs37d5/hs37d5.fa'
  fasta_index = '/mnt/archgen/Reference_Genomes/Human/hs37d5/hs37d5.fa.fai'
  bwa_index = '/mnt/archgen/Reference_Genomes/Human/hs37d5/'
  seq_dict = '/mnt/archgen/Reference_Genomes/Human/hs37d5/hs37d5.dict'
  
  // Mapping
  bwaalnn = 0.01
  
  // BAM filtering
  run_bam_filtering = true            // Filter out unmapped reads, so barplots in MultiQC are not completely overtaken by unmapped reads.
  bam_mapping_quality_threshold = 0    // Keep all mapped reads
  bam_unmapped_type = 'fastq'         // Keep unmapped reads as a separate fastq file. Preferred format for possible future pathogen screening.
  
/*  
  // Dedup
  // 22/09/2020: Seems most data so far is SE sequenced, so will revert back to MarkD. 
  dedupper = 'dedup'        // Will need to talk with Stpahan about sequencing layouts used for MICROSOPE
  preserve5p = true         // for Adapter Removal because of Dedup
  mergedonly = true         // for Adapter Removal because of Dedup
*/
  
  // mtDNA to nuclear ratio
  run_mtnucratio = true
  mtnucratio_header = "MT"
  
  // Bam Trimming
  run_trim_bam = true
  bamutils_clip_half_udg_left = 2    // Trim 2 bp of either side for half-UDG libraries.
  bamutils_clip_half_udg_right = 2    // Trim 2 bp of either side for half-UDG libraries.
  bamutils_clip_none_udg_left = 0    // Set to 0 so ssDNA non-UDG do not get trimmed.  10/12/2020
  bamutils_clip_none_udg_right = 0    // Set to 0 so ssDNA non-UDG do not get trimmed. 10/12/2020
  
  // Genotyping
  genotyping_source = 'trimmed'         // Use trimmed bams for genotyping
  run_genotyping = true
  genotyping_tool = 'pileupcaller'
  pileupcaller_bedfile = '/mnt/archgen/Reference_Genomes/Human/hs37d5/SNPCapBEDs/1240K.pos.list_hs37d5.0based.bed'
  pileupcaller_snpfile = '/mnt/archgen/public_data/Datashare_Boston_Jena_June2018.backup/1240K.snp'

  //Sex determination
  run_sexdeterrmine = true
  sexdeterrmine_bedfile = '/mnt/archgen/Reference_Genomes/Human/hs37d5/SNPCapBEDs/1240K.pos.list_hs37d5.0based.bed'

  // Nuclear contamination
  run_nuclear_contamination = true
  contamination_chrom_name = 'X'

  //1240k Coverage/Depth calculation (for poseidonisation)
  run_bedtools_coverage = true
  anno_file = '/mnt/archgen/Reference_Genomes/Human/hs37d5/SNPCapBEDs/1240K.pos.list_hs37d5.0based.bed'
}

// Profile to increase walltime of bwa jobs so they don't always fail in short queue.
profiles {

  microscope {
    process {

      maxRetries = 2
        // Increasing walltime for bwa to avoid unnecessary retries
        withName:bwa {
          time = { task.attempt == 3 ? 1440.h : task.attempt == 2 ? 48.h : 24.h }
        }
      
        withName:markduplicates {
          memory = { task.attempt == 3 ? 16.GB : task.attempt == 2 ? 8.GB : 4.GB }
        }
    }
  }
}
